@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

.dot-grid {
  background-image: radial-gradient(circle, #e2e8f0 1px, transparent 1px);
  background-size: 28px 28px;
}

.dark .dot-grid {
  background-image: radial-gradient(circle, #262626 1px, transparent 1px);
}
